USE [master]
GO
/****** Object:  Database [LiveDB_Edigi]    Script Date: 12/30/2023 5:05:21 PM ******/
CREATE DATABASE [LiveDB_Edigi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LiveDB_Edigi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LiveDB_Edigi.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LiveDB_Edigi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LiveDB_Edigi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LiveDB_Edigi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LiveDB_Edigi]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 12/30/2023 5:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[idadmin] [int] NOT NULL,
	[adminname] [nvarchar](50) NULL,
	[adminpassword] [nvarchar](80) NULL,
	[adminlevel] [nvarchar](50) NULL,
	[lastlogin] [datetime] NULL,
	[idSupplier] [int] NULL,
	[idAffiliate] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AllCurrency]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllCurrency](
	[ID] [int] NOT NULL,
	[CountryName] [nvarchar](50) NULL,
	[CurrencyName] [nvarchar](50) NULL,
	[CurrencyCode] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banners]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banners](
	[B_ID] [int] NOT NULL,
	[B_NAME] [nvarchar](50) NULL,
	[B_URL] [nvarchar](100) NULL,
	[B_IMAGE] [nvarchar](100) NULL,
	[B_ALT] [nvarchar](50) NULL,
	[B_CLICKED_TOTAL] [int] NULL,
	[B_CLICKED_DATE] [datetime] NULL,
	[B_ADDED_DATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] NOT NULL,
	[CatName] [nvarchar](100) NULL,
	[CatDesc] [nvarchar](max) NULL,
	[CatParentType] [int] NULL,
	[CatParentCategory] [nvarchar](10) NULL,
	[CatActive] [nvarchar](1) NULL,
	[CatImage] [nvarchar](255) NULL,
	[CatFeatured] [nvarchar](1) NULL,
	[urlcode] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactUS]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactUS](
	[ID] [int] NOT NULL,
	[Contactus_type] [nvarchar](255) NULL,
	[CustomerName] [nvarchar](255) NULL,
	[CustomerEmail] [nvarchar](255) NULL,
	[CustomerPhone] [nvarchar](255) NULL,
	[CustomerFeedback] [nvarchar](255) NULL,
	[Comments] [nvarchar](max) NULL,
	[Contactus_Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CountryCodes]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CountryCodes](
	[ID] [int] NOT NULL,
	[CountryName] [nvarchar](50) NULL,
	[CountryCode] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CreditCardDetails]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreditCardDetails](
	[CCID] [int] NOT NULL,
	[OrderID] [int] NULL,
	[CardType] [nvarchar](50) NULL,
	[CardNumber] [nvarchar](80) NULL,
	[Expiration] [nvarchar](16) NULL,
	[SeqCode] [nvarchar](6) NULL,
	[OBS] [nvarchar](max) NULL,
	[IPAddress] [nvarchar](50) NULL,
	[IssueNumber] [nvarchar](5) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CreditCards]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreditCards](
	[CardID] [int] NOT NULL,
	[CardName] [nvarchar](50) NULL,
	[Approved] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerFeedback]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerFeedback](
	[fb_ID] [int] NOT NULL,
	[JobID] [int] NULL,
	[fb_ref_code] [nvarchar](255) NULL,
	[fb_rank_type1] [nvarchar](255) NULL,
	[fb_rank_type2] [nvarchar](255) NULL,
	[fb_rank_type3] [nvarchar](255) NULL,
	[CustomerFeedback] [nvarchar](max) NULL,
	[fb_Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerPayments]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerPayments](
	[PaymentID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[PaidAmount] [float] NULL,
	[PA_Date] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] NOT NULL,
	[EmailAddress] [nvarchar](100) NULL,
	[LoginPassword] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Company] [nvarchar](100) NULL,
	[Dat] [nvarchar](50) NULL,
	[Mon] [nvarchar](50) NULL,
	[Yea] [nvarchar](50) NULL,
	[Gender] [nvarchar](50) NULL,
	[StreetAddress] [nvarchar](100) NULL,
	[City] [nvarchar](50) NULL,
	[County] [nvarchar](50) NULL,
	[PostalCode] [nvarchar](20) NULL,
	[Country] [nvarchar](50) NULL,
	[ShippingLastName] [nvarchar](50) NULL,
	[ShippingFirstName] [nvarchar](100) NULL,
	[ShippingCity] [nvarchar](50) NULL,
	[ShippingCounty] [nvarchar](50) NULL,
	[ShippingPostalCode] [nvarchar](20) NULL,
	[ShippingCountry] [nvarchar](50) NULL,
	[Telephone] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Heard] [int] NULL,
	[AdminApproved] [nvarchar](1) NOT NULL,
	[PaypalFee] [int] NOT NULL,
	[Approved] [nvarchar](1) NULL,
	[CustomerIPAddress] [nvarchar](50) NULL,
	[OpeningBalance] [float] NULL,
	[CustomerType] [int] NOT NULL,
	[CustomerCurrency] [nvarchar](10) NOT NULL,
	[RegDate] [datetime] NOT NULL,
	[SendEmail_CC] [nvarchar](250) NULL,
	[PayPalURL] [nvarchar](max) NULL,
	[Comments] [nvarchar](250) NULL,
	[Comments1] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers_Backup]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers_Backup](
	[CustomerID] [int] NOT NULL,
	[EmailAddress] [nvarchar](100) NULL,
	[LoginPassword] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Company] [nvarchar](100) NULL,
	[Dat] [nvarchar](50) NULL,
	[Mon] [nvarchar](50) NULL,
	[Yea] [nvarchar](50) NULL,
	[Gender] [nvarchar](50) NULL,
	[StreetAddress] [nvarchar](100) NULL,
	[City] [nvarchar](50) NULL,
	[County] [nvarchar](50) NULL,
	[PostalCode] [nvarchar](20) NULL,
	[Country] [nvarchar](50) NULL,
	[ShippingLastName] [nvarchar](50) NULL,
	[ShippingFirstName] [nvarchar](100) NULL,
	[ShippingCity] [nvarchar](50) NULL,
	[ShippingCounty] [nvarchar](50) NULL,
	[ShippingPostalCode] [nvarchar](20) NULL,
	[ShippingCountry] [nvarchar](50) NULL,
	[Telephone] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Heard] [int] NULL,
	[AdminApproved] [nvarchar](1) NOT NULL,
	[PaypalFee] [int] NOT NULL,
	[Approved] [nvarchar](1) NULL,
	[CustomerIPAddress] [nvarchar](50) NULL,
	[OpeningBalance] [float] NULL,
	[CustomerType] [int] NOT NULL,
	[CustomerCurrency] [nvarchar](10) NOT NULL,
	[RegDate] [datetime] NOT NULL,
	[MycustomerID] [int] NOT NULL,
	[Comments] [nvarchar](250) NULL,
	[AdminSendingEmailID] [nvarchar](250) NULL,
	[AdminSendingEmailPass] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers_Old]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers_Old](
	[CustomerID] [int] NOT NULL,
	[EmailAddress] [nvarchar](100) NULL,
	[LoginPassword] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Company] [nvarchar](100) NULL,
	[Dat] [nvarchar](50) NULL,
	[Mon] [nvarchar](50) NULL,
	[Yea] [nvarchar](50) NULL,
	[Gender] [nvarchar](50) NULL,
	[StreetAddress] [nvarchar](100) NULL,
	[City] [nvarchar](50) NULL,
	[County] [nvarchar](50) NULL,
	[PostalCode] [nvarchar](20) NULL,
	[Country] [nvarchar](50) NULL,
	[ShippingLastName] [nvarchar](50) NULL,
	[ShippingFirstName] [nvarchar](100) NULL,
	[ShippingCity] [nvarchar](50) NULL,
	[ShippingCounty] [nvarchar](50) NULL,
	[ShippingPostalCode] [nvarchar](20) NULL,
	[ShippingCountry] [nvarchar](50) NULL,
	[Telephone] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Heard] [int] NULL,
	[AffiliateID] [int] NULL,
	[Discount] [float] NULL,
	[Approved] [nvarchar](1) NULL,
	[CreditLimit] [float] NULL,
	[OpeningBalance] [float] NULL,
	[CustomerType] [int] NOT NULL,
	[CustomerCurrency] [nvarchar](10) NOT NULL,
	[RegDate] [datetime] NOT NULL,
	[MycustomerID] [int] NOT NULL,
	[Comments] [nvarchar](250) NULL,
	[AdminSendingEmailID] [nvarchar](250) NULL,
	[AdminSendingEmailPass] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerStatement]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerStatement](
	[StatementID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[AdminID] [int] NULL,
	[TotalAmount] [float] NULL,
	[PayPalFee] [float] NULL,
	[VAT] [float] NULL,
	[Other_Fee] [float] NULL,
	[Currency] [nvarchar](50) NULL,
	[StatementDate] [datetime] NOT NULL,
	[EmailSent] [nvarchar](1) NOT NULL,
	[Comments] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Designer_AssignJob]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Designer_AssignJob](
	[AssignJobID] [int] NOT NULL,
	[JobID] [int] NULL,
	[AdminID] [int] NULL,
	[DesignerID] [int] NULL,
	[JobAmount] [float] NULL,
	[Jobpaid] [bit] NOT NULL,
	[JobClosed] [bit] NOT NULL,
	[JobDate] [datetime] NOT NULL,
	[JobStatus] [nvarchar](100) NULL,
	[JobComments1] [nvarchar](255) NULL,
	[JobComments2] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiscountCodes]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountCodes](
	[DiscID] [int] NOT NULL,
	[DiscCode] [nvarchar](50) NOT NULL,
	[DiscAmount] [float] NULL,
	[DiscPercentage] [float] NULL,
	[DiscFromAmount] [float] NULL,
	[DiscToAmount] [float] NULL,
	[DiscStatus] [nvarchar](1) NOT NULL,
	[DiscOnceOnly] [nvarchar](1) NULL,
	[DiscValidFrom] [datetime] NULL,
	[DiscValidTo] [datetime] NULL,
	[Info] [nvarchar](255) NULL,
	[Comments] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Heard]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Heard](
	[H_ID] [int] NOT NULL,
	[H_Name] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HitsReport]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HitsReport](
	[HitID] [int] NOT NULL,
	[HitsValue] [int] NULL,
	[HitsDate] [datetime] NULL,
	[HitsTime] [datetime] NULL,
	[HitsPath] [nvarchar](200) NULL,
	[HitsRemAddress] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobActivity]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobActivity](
	[job_Activity_ID] [int] NOT NULL,
	[JobID] [int] NULL,
	[CustomerID] [int] NULL,
	[JobStatus] [nvarchar](100) NULL,
	[job_Activity_Date] [datetime] NOT NULL,
	[Comments] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobImage]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobImage](
	[ImageID] [int] NOT NULL,
	[JobID] [int] NULL,
	[CustomerID] [int] NULL,
	[ImageName] [nvarchar](100) NULL,
	[ImageInfo] [nvarchar](100) NULL,
	[ImageDate] [datetime] NOT NULL,
	[Comments] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobImage_old]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobImage_old](
	[ImageID] [int] NOT NULL,
	[JobID] [int] NULL,
	[CustomerID] [int] NULL,
	[ImageName] [nvarchar](100) NULL,
	[ImageInfo] [nvarchar](100) NULL,
	[ImageDate] [datetime] NOT NULL,
	[Comments] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[jobID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[JobName] [nvarchar](100) NULL,
	[PONumber] [nvarchar](100) NULL,
	[ReqFormat] [nvarchar](100) NULL,
	[Width] [nvarchar](50) NULL,
	[Height] [nvarchar](50) NULL,
	[Fabric] [nvarchar](50) NULL,
	[Placement] [nvarchar](50) NULL,
	[Color] [nvarchar](50) NULL,
	[Blending] [nvarchar](50) NULL,
	[JobType] [nvarchar](50) NULL,
	[JobDate] [datetime] NOT NULL,
	[JobAssign] [nvarchar](100) NULL,
	[JobAmount] [float] NULL,
	[Jobpaid] [bit] NOT NULL,
	[JobStatus] [nvarchar](100) NOT NULL,
	[JobCompleteDate] [datetime] NULL,
	[PayPalURL] [nvarchar](max) NULL,
	[JobComments1] [nvarchar](max) NULL,
	[JobComments2] [nvarchar](255) NULL,
	[JobComments3] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs_old]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs_old](
	[jobID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[JobName] [nvarchar](100) NULL,
	[PONumber] [nvarchar](100) NULL,
	[ReqFormat] [nvarchar](100) NULL,
	[Width] [nvarchar](50) NULL,
	[Height] [nvarchar](50) NULL,
	[Fabric] [nvarchar](50) NULL,
	[Placement] [nvarchar](50) NULL,
	[Color] [nvarchar](50) NULL,
	[Blending] [nvarchar](50) NULL,
	[JobType] [nvarchar](50) NULL,
	[Instructions] [nvarchar](255) NULL,
	[Attachment1] [nvarchar](100) NULL,
	[Attachment2] [nvarchar](100) NULL,
	[JobDate] [datetime] NOT NULL,
	[JobAssign] [nvarchar](100) NULL,
	[JobAmount] [float] NULL,
	[Jobpaid] [bit] NOT NULL,
	[JobStatus] [nvarchar](100) NULL,
	[JobCompleteDate] [datetime] NULL,
	[JobComments1] [nvarchar](255) NULL,
	[JobComments2] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MainAdvert]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MainAdvert](
	[AdvID] [int] NOT NULL,
	[AdvLink] [nvarchar](200) NULL,
	[AdvDesc] [nvarchar](max) NULL,
	[AdvImage] [nvarchar](50) NULL,
	[AdvDate] [datetime] NULL,
	[AdvHits] [int] NULL,
	[AdvType] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManageError]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManageError](
	[ErrorID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[Page_Name] [nvarchar](250) NULL,
	[Fun_Name] [nvarchar](250) NULL,
	[Error_Msg] [nvarchar](max) NULL,
	[ErrorDate] [datetime] NOT NULL,
	[Comments] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MInsurance]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MInsurance](
	[MOT_ID] [int] NOT NULL,
	[TYPE] [nvarchar](50) NULL,
	[DISCRIPTION] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewJobPayment]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewJobPayment](
	[NJP_ID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[JobID] [int] NOT NULL,
	[TotalAmount] [float] NULL,
	[PayPalFee] [float] NULL,
	[DiscountCode] [nvarchar](50) NULL,
	[DiscountAmount] [float] NULL,
	[Currency] [nvarchar](50) NULL,
	[PaymentDate] [datetime] NOT NULL,
	[PaymentApproved] [nvarchar](1) NOT NULL,
	[Comments] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Newsletters]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Newsletters](
	[Email_ID] [int] NOT NULL,
	[Email_Address] [nvarchar](50) NOT NULL,
	[Email_AddressIP] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OfflineInvoiceDetail]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OfflineInvoiceDetail](
	[OID_ID] [int] NOT NULL,
	[Invoice_TokenID] [int] NOT NULL,
	[NewInvoiceCode] [nvarchar](255) NOT NULL,
	[CustomerID] [int] NULL,
	[JobID] [int] NOT NULL,
	[JobName] [nvarchar](100) NULL,
	[JobType] [nvarchar](50) NULL,
	[JobDate] [datetime] NULL,
	[CustomerCurrency] [nvarchar](10) NULL,
	[JobAmount] [float] NULL,
	[JobStatus] [nvarchar](100) NULL,
	[PaymentURL] [nvarchar](max) NULL,
	[ShowInvoiceURL] [nvarchar](max) NULL,
	[InvoiceSentToCustomeEmail] [nvarchar](1) NOT NULL,
	[Comments] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OfflineInvoiceMaster]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OfflineInvoiceMaster](
	[OIM_ID] [int] NOT NULL,
	[Invoice_TokenID] [int] NOT NULL,
	[NewInvoiceCode] [nvarchar](255) NOT NULL,
	[CustomerID] [int] NULL,
	[StartJobID] [int] NULL,
	[EndJobID] [int] NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[Invoicepaid] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OptionDetails]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OptionDetails](
	[OptionDetailID] [int] NOT NULL,
	[OptionOptionID] [int] NULL,
	[OptionDetailName] [nvarchar](200) NULL,
	[OptionDetailPrice] [float] NULL,
	[OptionDetailDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OptionProducts]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OptionProducts](
	[OptionProductID] [int] NOT NULL,
	[OptionProductParent] [int] NULL,
	[OptionProductChild] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Options]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Options](
	[OptionID] [int] NOT NULL,
	[OptionName] [nvarchar](50) NULL,
	[OptionDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Ord_ID] [int] NOT NULL,
	[Ord_OrderID] [int] NULL,
	[Ord_CustomerID] [int] NULL,
	[Ord_ProdCode] [nvarchar](50) NULL,
	[Ord_ProdName] [nvarchar](100) NULL,
	[Ord_Quantity] [int] NULL,
	[Ord_Price] [float] NULL,
	[Ord_Tax] [float] NULL,
	[Ord_Weight] [float] NULL,
	[Ord_Option] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[OrderDate] [datetime] NOT NULL,
	[OrderDetails] [nvarchar](max) NULL,
	[ShippingDetails] [nvarchar](200) NULL,
	[ShippingCharges] [float] NULL,
	[Discount] [float] NULL,
	[AffiliateID] [int] NULL,
	[TotalAmount] [float] NULL,
	[NetTotal] [float] NULL,
	[InvoiceNo] [nvarchar](50) NULL,
	[OrderCompiled] [nvarchar](1) NULL,
	[OrderInvoiced] [nvarchar](1) NULL,
	[OrderDispatched] [nvarchar](1) NULL,
	[OrderPaid] [nvarchar](1) NULL,
	[OrderStatus] [nvarchar](max) NULL,
	[LastModified] [nvarchar](50) NULL,
	[PaymentMode] [nvarchar](50) NULL,
	[OrderIP] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[TotalAmount] [float] NULL,
	[PayPalFee] [float] NULL,
	[VAT] [float] NULL,
	[Other_Fee] [float] NULL,
	[Currency] [nvarchar](50) NULL,
	[PaymentDate] [datetime] NOT NULL,
	[PaymentApproved] [nvarchar](1) NOT NULL,
	[Comments] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentDetail]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentDetail](
	[PD_ID] [int] NOT NULL,
	[PaymentID] [int] NOT NULL,
	[JobID] [int] NOT NULL,
	[Currency] [nvarchar](50) NULL,
	[JoblAmount] [float] NULL,
	[PD_Date] [datetime] NOT NULL,
	[Other_Fee] [float] NULL,
	[Comments] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[R_ProductID] [int] NULL,
	[R_CategoryID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Prod_ID] [int] NOT NULL,
	[Prod_Code] [nvarchar](50) NULL,
	[Prod_Name] [nvarchar](100) NULL,
	[Prod_Desc] [nvarchar](max) NULL,
	[Prod_Spec] [nvarchar](max) NULL,
	[Prod_Keywords] [nvarchar](255) NULL,
	[Prod_SupplierID] [int] NULL,
	[Prod_Price] [float] NULL,
	[Prod_List_Price] [float] NULL,
	[Prod_Tax] [int] NULL,
	[Prod_Weight] [float] NULL,
	[Prod_DeliverTime] [int] NULL,
	[Prod_Quantity] [int] NULL,
	[Prod_QuantityWL] [int] NULL,
	[Prod_OptionID1] [int] NULL,
	[Prod_OptionID2] [int] NULL,
	[Prod_Category] [int] NULL,
	[Prod_Small_Image] [nvarchar](255) NULL,
	[Prod_Large_Image] [nvarchar](50) NULL,
	[Prod_Active] [nvarchar](10) NULL,
	[Prod_Hot] [nvarchar](10) NULL,
	[Prod_Featured] [nvarchar](1) NULL,
	[Prod_ShowInHome] [int] NULL,
	[Prod_Month] [nvarchar](1) NULL,
	[Prod_Date] [datetime] NULL,
	[Prod_Hits] [int] NULL,
	[Prod_Sales] [int] NULL,
	[Prod_offer] [nvarchar](50) NULL,
	[Prod_new] [nvarchar](50) NULL,
	[Mod_date] [datetime] NULL,
	[Mod_time] [nvarchar](50) NULL,
	[Prod_Seller] [nvarchar](50) NULL,
	[urlcode] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RelatedProducts]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelatedProducts](
	[RP_ID] [int] NOT NULL,
	[RP_MotherID] [int] NULL,
	[RP_ChildID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[RevID] [int] NOT NULL,
	[RevProductID] [int] NULL,
	[RevDate] [datetime] NULL,
	[RevAuditInfo] [nvarchar](255) NULL,
	[RevStatus] [nvarchar](1) NULL,
	[RevRating] [int] NULL,
	[RevName] [nvarchar](255) NULL,
	[RevLocation] [nvarchar](255) NULL,
	[RevEmail] [nvarchar](100) NULL,
	[RevSubj] [nvarchar](100) NULL,
	[RevDetail] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShippingCharges]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingCharges](
	[ShippingID] [int] NOT NULL,
	[ShippingWeight1] [float] NULL,
	[ShippingAmount1] [float] NULL,
	[ShippingWeight2] [float] NULL,
	[ShippingAmount2] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShippingTypes]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingTypes](
	[ShippingTypeID] [int] NOT NULL,
	[ShippingTypeName] [nvarchar](50) NULL,
	[ShippingTypeAmount] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingCart]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingCart](
	[ShoppingID] [int] NOT NULL,
	[SessionID] [int] NULL,
	[CategoryID] [int] NULL,
	[ProdID] [int] NULL,
	[ProdCode] [nvarchar](50) NULL,
	[ProdName] [nvarchar](100) NULL,
	[ProdQuantity] [int] NULL,
	[ProdPrice] [float] NULL,
	[ProdTax] [float] NULL,
	[ProdWeight] [float] NULL,
	[ProdOption0] [int] NULL,
	[ProdOption1] [int] NULL,
	[ProdOption2] [int] NULL,
	[ProdOption] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SideAdvert]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SideAdvert](
	[AdvID] [int] NOT NULL,
	[AdvLink] [nvarchar](200) NULL,
	[AdvDesc] [nvarchar](max) NULL,
	[AdvImage] [nvarchar](50) NULL,
	[AdvDate] [datetime] NULL,
	[AdvHits] [int] NULL,
	[AdvType] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatementDetail]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatementDetail](
	[SD_ID] [int] NOT NULL,
	[StatementID] [int] NOT NULL,
	[JobID] [int] NOT NULL,
	[Currency] [nvarchar](50) NULL,
	[JoblAmount] [float] NULL,
	[SD_Date] [datetime] NOT NULL,
	[Other_Fee] [float] NULL,
	[Comments] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoreNews]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreNews](
	[NewsID] [int] NOT NULL,
	[NewsTitle] [nvarchar](255) NULL,
	[NewsDescription] [nvarchar](max) NULL,
	[NewsDate] [datetime] NULL,
	[NewsHits] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoreSettings]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreSettings](
	[SettingID] [int] NOT NULL,
	[settingkey] [nvarchar](50) NULL,
	[settingvalue] [nvarchar](255) NULL,
	[comments] [nvarchar](255) NULL,
	[SettingGroupID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoreStructure]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreStructure](
	[StructureID] [int] NOT NULL,
	[Structurekey] [nvarchar](30) NULL,
	[StructureValue] [nvarchar](max) NULL,
	[Comments] [nvarchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suppliers]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suppliers](
	[SupplierID] [int] NOT NULL,
	[SupplierName] [nvarchar](100) NULL,
	[SupplierEmail] [nvarchar](100) NULL,
	[SupplierAddress] [nvarchar](100) NULL,
	[SupplierPostalCode] [nvarchar](50) NULL,
	[SupplierCity] [nvarchar](50) NULL,
	[SupplierCountry] [nvarchar](50) NULL,
	[SupplierPhone] [nvarchar](50) NULL,
	[SupplierURL] [nvarchar](50) NULL,
	[SupplierImage] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaxRates]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaxRates](
	[TaxID] [int] NOT NULL,
	[Taxrate] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TradeCustomers]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TradeCustomers](
	[cpCompanyID] [int] NOT NULL,
	[cpCompanyName] [nvarchar](50) NULL,
	[cpCompanyAddress] [nvarchar](250) NULL,
	[cpRegistrationNo] [nvarchar](50) NULL,
	[cpVATNo] [nvarchar](50) NULL,
	[cpDateofIncorporation] [nvarchar](50) NULL,
	[cpEstimatedTurnover] [float] NULL,
	[cpContactName] [nvarchar](50) NULL,
	[cpPosition] [nvarchar](50) NULL,
	[cpTel] [nvarchar](50) NULL,
	[cpFax] [nvarchar](50) NULL,
	[cpAccountContact] [nvarchar](50) NULL,
	[cpACTel] [nvarchar](50) NULL,
	[cpACFax] [nvarchar](50) NULL,
	[cpTypeofCompany] [int] NULL,
	[cpBankName] [nvarchar](50) NULL,
	[cpBranchAddress] [nvarchar](250) NULL,
	[cpSortCode] [nvarchar](50) NULL,
	[cpAccountNo] [nvarchar](50) NULL,
	[cpBankTel] [nvarchar](50) NULL,
	[cpBankFax] [nvarchar](50) NULL,
	[cpReferenceName1] [nvarchar](50) NULL,
	[cpReferenceAddress1] [nvarchar](250) NULL,
	[cpReferenceTel1] [nvarchar](50) NULL,
	[cpReferenceFax1] [nvarchar](50) NULL,
	[cpReferenceName2] [nvarchar](50) NULL,
	[cpReferenceAddress2] [nvarchar](250) NULL,
	[cpReferenceTel2] [nvarchar](50) NULL,
	[cpReferenceFax2] [nvarchar](50) NULL,
	[cpCustomerID] [int] NULL,
	[cpApproved] [nvarchar](1) NULL,
	[cpDated] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeofCompanies]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeofCompanies](
	[TypeofCompanyID] [int] NOT NULL,
	[TypeofCompanyName] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VerifyCustomer]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VerifyCustomer](
	[VID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[VerificationCode] [float] NULL,
	[VDate] [datetime] NOT NULL,
	[Comments] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WishList]    Script Date: 12/30/2023 5:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WishList](
	[WL_ID] [int] NOT NULL,
	[WL_CustomerID] [int] NULL,
	[WL_ProductID] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
