body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    color: white;
    text-align: center;
}

/* HEADER */
header {
    background: #1e3a8a;
    padding: 20px;
}

/* HERO */
.hero {
    padding: 80px 20px;
}

/* BUTTON */
button {
    padding: 10px 20px;
    border: none;
    background: white;
    color: #1e3a8a;
    border-radius: 8px;
    cursor: pointer;
}

/* COURSES */
.courses {
    padding: 40px;
}

.card {
    background: white;
    color: black;
    padding: 20px;
    margin: 10px auto;
    width: 200px;
    border-radius: 10px;
}

/* FOOTER */
footer {
    background: #1e3a8a;
    padding: 15px;
    margin-top: 40px;
}
