body {
    background: linear-gradient(135deg, #74ebd5, #9face6);
    font-family: Arial;
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 40px;
    color: white;
}

p {
    font-size: 18px;
    color: white;
}

.container {
    background: white;
    padding: 30px;
    width: 300px;
    margin: auto;
    border-radius: 15px;
}
